@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model APIBankingASP.NET.Models.FundsTransferByCustomerService2.TransferRequest
@using (Html.BeginForm("transfer", "FundsTransferByCustomerService2"))
{
    @Html.EditorFor(m => m)

    <fieldset>
        <legend>Request</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.uniqueRequestNo, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.uniqueRequestNo, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.customerID, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.customerID, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.debitAccountNo, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.debitAccountNo, new { @class = "form-control" })
        </div>
      
        <div class="form-group">
            @Html.Label("beneficiaryAddress1", new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.beneficiaryAddress.address1, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("beneficiaryEmailID", new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.beneficiaryContact.emailID, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("beneficiaryMobileNo", new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.beneficiaryContact.mobileNo, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.beneficiaryName, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.beneficiaryName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.beneficiaryIFSCCode, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.beneficiaryIFSCCode, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.beneficiaryMobileForMMID, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.beneficiaryMobileForMMID, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.beneficiaryMMID, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.beneficiaryMMID, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.beneficiaryAccountNo, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.beneficiaryAccountNo, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.transferAmount, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.transferAmount, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.transferType, new { @class = "control-label col-md-3" })
            @Html.EnumDropDownListFor(m => m.transferType, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.rmtrToBeneInfo, new { @class = "control-label col-md-3" })
            @Html.EditorFor(m => m.rmtrToBeneInfo, new { @class = "form-control" })
        </div>
    </fieldset>

    <button type="submit">Call</button>
}
