@{
    ViewBag.Title = "Services";
}

<h2>@ViewBag.Title.</h2>
<!--
<h4>@ViewBag.Message</h4>
-->
<br/>
<div>
    <ul>
        <li>
            <div>
                <p>DomesticRemittanceByPartnerService</p>
                <ul>
                    <li>@Html.ActionLink("getBalance", "getBalance", "DomesticRemittanceByPartnerService")</li>
                </ul>
            </div>
        </li>
        <li>
            <div>
                <p>InwardRemittanceByPartnerService</p>
                <ul>
                    <li>@Html.ActionLink("remit", "remit", "InwardRemittanceByPartnerService")</li>
                </ul>
            </div>
        </li>
        <li>
            <div>
                <p>FundsTransferByCustomerService2</p>
                <ul>
                    <li>@Html.ActionLink("transfer", "transfer", "FundsTransferByCustomerService2")</li>
                </ul>
            </div>
        </li>
    </ul>
</div>
