
@model APIBankingASP.NET.Models.Credentials

    


<fieldset>
    <legend>Credentials</legend>

    <div class="form-group">
        @Html.LabelFor(m => m.user, new { @class = "control-label col-md-3" })
        @Html.EditorFor(m => m.user, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password, new { @class = "control-label col-md-3" })
        @Html.PasswordFor(m => m.password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.client_key, new { @class = "control-label col-md-3" })
        @Html.EditorFor(m => m.client_key, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.client_secret, new { @class = "control-label col-md-3" })
        @Html.EditorFor(m => m.client_secret, new { @class = "form-control" })
    </div>
</fieldset>
